<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inicio</title>
	</head>
	<body>
		<%- include('../partials/header') %>
		<main>
			<h1>Crear producto</h1>

			<% if (typeof errors != 'undefined') { %>
				<ul>
					<% errors.forEach(error =>  { %>
						<li><%= error.msg %></li>
					<% }) %>
				</ul>
			<% } %>


			<form action="/admin/productos" method="post" enctype="multipart/form-data">

				<div>
					<label for="nombre">Código:
					</label>
					<input type="text" id="codigo" name="codigo" value="<% typeof values != 'undefined' ? values.codigo : '' %>" required minlength="3"/>
				</div>

        <div>
					<label for="nombre">Categoría:
					</label>

          <select name="categoria" id="categoria">
            <option value="7">7</option>
            <option value="6">6</option>
            <option value="5">5</option>
          </select>
				</div>


				<div>
					<label for="nombre">Nombre:
					</label>
					<input type="text" id="nombre" name="nombre" value="<% typeof values != 'undefined' ? values.nombre : '' %>" required minlength="3"/>
				</div>

				<div>
					<label for="precio">Precio:
					</label>
					<input type="number" id="precio" name="precio" value="<% typeof values != 'undefined' ? values.precio : '' %>" required min="1"/>
					<div>
						<label for="imagen">Imagen:
						</label>
						<input type="file" id="imagen" name="imagen" accept="image/*"/>
					</div>
					<button translate="submit">Guardar</button>

				</form>

			</main>
			<%- include('../partials/footer') %></body>
	</body>
</html>
